
[includeIf "gitdir:~/Projects/personal/"]
	path = ~/Projects/personal/.gitconfig

[includeIf "gitdir:~/Projects/rappi/"]
	path = ~/Projects/rappi/.gitconfig

[user]
	email = jmorales.fez@gmail.com
	name = Johann Morales
